.container {
    width: 800px;
    max-height: 500px;
    margin: 5% auto;
    border: 1px solid #fff;
    background-color: #ffffff;
    box-shadow: 0px 2px 7px #292929;
    -moz-box-shadow: 0px 2px 7px #292929;
    -webkit-box-shadow: 0px 2px 7px #292929;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.editable,
.header,
.footer {
    padding: 10px;
}
.nav {
    display: inline-block;
    vertical-align: middle;
}
.editable {
    margin-top: 0;
    height: 500px;
    min-height: 150px;
    max-height: 388px;
    overflow: hidden;
}
.header {
    height: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    border-bottom: 1px solid #EEE;
    background-color: #ffffff;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.footer {
    height: 20px;
    background-color: whiteSmoke;
    border-top: 1px solid #DDD;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.bold,
.italic,
.fcolor,
.bgfcolor,
.video,
.copy,
.undo,
.redo,
.ellipsis{
    border: 0px;
    background: #ffffff;
    outline: 0px solid transparent;
    cursor: pointer;
}

[contenteditable] {
    outline: 0px solid transparent;
    padding: 15px;
}
